In [10]:
# This is all from http://pandas.pydata.org/pandas-docs/version/0.15.2/10min.html#min

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pd.date_range('20130101',periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01  0.659823  0.172441 -1.354540  0.490248
2013-01-02  0.935936 -0.884444 -0.955214  0.509580
2013-01-03 -0.096398  0.089120  1.515085  0.569358
2013-01-04  0.104504  1.440668  0.155806  0.842423
2013-01-05 -0.909831  0.427691 -0.348829 -0.468638
2013-01-06  0.023787 -0.531586 -0.056106 -0.816731